*.class
*.jar

# Eclipse
.classpath
.project
.settings/
.externalToolBuilders/

# Mac
.DS_Store

# Windows
Thumbs.db

# Maven
log/
target
temp

#temporary word files
~*.docx

#Uploaded images
Source/src/main/webapp/img/ads