h1
{
	color: white;
	margin: 0; padding: 0; /*otherwise there is a default padding of ca. 20px*/
}

header 
{
	color: white; 
	background: #2dc16d;
	position: fixed;
	top: 0px; left: 0px; right: 0px; height: 60px;
}

footer 
{
	color: white; 
	background: #2dc16d;
	position: fixed;
	bottom: 0px; left: 0px; right: 0px; height: 40px;
	text-align: center;
}

/*Header is fixed to 60px from top, so with padding of 60px,
we fix the body in the exactly right position*/
body
{
	color: gray;
	padding-top: 60px;
}

nav ol li
{
	display: block;
	float: right;
	padding: 0px 15px;
}

nav ul li
{
	display: inline-block;
	float: center;
	padding: 0px 15px;
}

/* These two guarantee that we can write stuff on the same line,
but not in one String (i.e. in the header) */
.left
{
	display: inline-block;
}

.right
{
	display: inline-block;
	float: right;
}