/* Basic resets to equalize inconsistencies across browsers */
html, body, div, span, h1, h2, h3, h4, h5, h6, p, a, img, b, i, fieldset,
	form, label, legend, caption, article, header, footer, menu, nav,
	section, ol, ul, li {
	margin: 0;
	padding: 0;
	font-family: 'Helvetica', sans-serif;
	font-size: 0.97em;
}

/* -------------------------------------------------------------------- */
/* Global element styling & global classes */
p {
	margin-bottom: 10px;
}

h1 {
	margin-bottom: 20px;
	font-size: 2em;
}

h2 {
	margin-top: 10px;
	margin-bottom: 10px;
}

/*Header is fixed to 60px from top, so with padding of 60px,
we fix the body in the exactly right position*/
body {
	color: gray;
	padding-top: 60px;
	padding-bottom: 40px;
}

/* the main content on every page */
#content {
	padding: 30px;
}

/* These two guarantee that we can write stuff on the same line,
but not in one String (i.e. in the header) */
.left {
	display: inline-block;
	float: left;
}

.right {
	display: inline-block;
	float: right;
}

input, select, textarea{
	margin-right: 10px;
	margin-bottom: 10px;
	padding-left: 2px;
}

input[type="number"]{
	width: 70px;
}

label {
	margin-right: 10px;
}

button{
	background-color: #2dc16d;
	color:white;
	padding: 5px 10px;
	border-radius: 5px;
	border-color: white;
	border-style: solid;
	font-size: 1.1em;
}

button:hover{
	color:#2dc16d;
	background-color: white;
	border-color: #2dc16d;
}

fieldset {
	padding: 20px;
	margin-bottom: 10px;
}

legend{
	font-size: 1.1em;
	font-weight: bold;
	padding: 0 10px;
}

button {
	margin-right: 20px;
}

.validationErrorText {
	color: red;
	background-color: #fee2ef;
	border-radius: 5px;
	padding: 5px 10px;
	border-radius: 5px;
	margin-right: 10px;
	vertical-align: top;
}

/* -------------------------------------------------------------------- */
/* Header & Footer */
header {
	color: white;
	background: #2dc16d;
	position: fixed;
	top: 0px;
	left: 0px;
	right: 0px;
	height: 60px;
}

header a {
	text-decoration: none;
	color: white;
}

header h1 {
	margin-top: 10px;
	margin-left: 10px;
	font-size: 2.8em;
}

header h1 a {
	color: white;
}

header nav ol li {
	display: block;
	float: right;
	padding: 0px 15px;
	font-size: 1.3em;
}

header nav {
	margin-top: 30px;
}

footer {
	color: white;
	background: #2dc16d;
	position: fixed;
	bottom: 0px;
	left: 0px;
	right: 0px;
	height: 30px;
	text-align: center;
	padding-top: 10px;
}

footer nav{
	margin-top:8px;
}

footer nav ul li {
	display: inline-block;
	float: center;
	padding: 0px 15px;
}

/* -------------------------------------------------------------------- */
/* ----------------------------Individual pages------------------------ */
/* -------------------------------------------------------------------- */


/* -------------------------------------------------------------------- */
/* Individual forms */

#placeAdForm{
	width: 900px;
	margin:auto;
}